body {
  font-family: 'Poppins', sans-serif;
  background-color: #efeab9;
}
strong {
  font-weight: 600;
}
img {
  position: absolute;
  top: 25vh;
  bottom: 25vh;
  height: 40vh;
  right: 50px;
  z-index: -1;
}
.hero {
  min-height: 90vh;
  display: flex;
  align-items: center;
  font-size: 100px;
  line-height: 0.9;
  font-weight: 600;
  position: relative;
}
.hero p {
  margin-left: 50px;
  margin-right: calc(40vh + 100px);
  min-width: 300px;
}
.long {
  font-size: 50px;
  font-weight: normal;
  line-height: 1.2;
}
.crave {
  color: #026d1b;
}
.real {
  color: #ca0202;
}
.shake {
  color: #fd2e2e;
  white-space: nowrap;
}
.shake span {
  display: inline-block;
}
.center {
  display: flex;
  margin: 50px;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 100px;
}
.button {
  background-color: #1a5b08;
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: 20px 50px;
  font-size: 18px;
  border-radius: 50px;
  background-image: url('./arrow.svg');
  background-size: 24px;
  background-position: center right -24px;
  background-repeat: no-repeat;
  transition: all 0.2s;
}
.button:hover {
  background-position: center right 24px;
  padding-right: 60px;
}
